# Metadata analyses

First we import the required libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# para evitarmos a exibição dos dados em notacao científica
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#comment next line to not use MLFlow for cleaning data
from MLFlow_Classification import *
from MLFlow_Utils import *

C:\Users\carin\AppData\Local\Temp\ipykernel_18136\2463766658.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Number of patients by region, ICU and MV

In [2]:
df_iacov_model_lean_14hosp = pd.read_csv("df_iacov_model_lean_14hosp.csv", delimiter=";")

In [3]:
df_iacov_model_lean_14hosp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6046 entries, 0 to 6045
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city_hospital    6046 non-null   object
 1   age              6046 non-null   float64
 2   male             6046 non-null   float64
 3   race             6046 non-null   object
 4   heart_rate       5237 non-null   float64
 5   resp_rate        4589 non-null   float64
 6   sys_press        4710 non-null   float64
 7   dias_press       4721 non-null   float64
 8   mean_press       4680 non-null   float64
 9   temp             4873 non-null   float64
 10  hemoglobin       4142 non-null   float64
 11  platelets        5302 non-null   float64
 12  hematocrit       3696 non-null   float64
 13  red_cells_count  3362 non-null   float64
 14  hcm              4855 non-null   float64
 15  rdw              4854 non-null   float64
 16  mcv              4861 non-null   float64
 17  leukocytes       5305 non-null   float64
 18  neutrophil       3972 non-null   float64
 19  lymphocytes      4642 non-null   float64
 20  basophils        4926 non-null   float64
 21  eosinophils      3679 non-null   float64
 22  monocytes        5205 non-null   float64
 23  crp              4663 non-null   float64
 24  death            6046 non-null   int64
 25  icu              6046 non-null   int64
 26  mv               6046 non-null   int64
 27  state            6046 non-null   object
 28  region           6046 non-null   object
 29  excluir          6046 non-null   bool
dtypes: bool(1), float64(22), int64(3), object(4)
memory usage: 1.3+ MB

In [4]:
df_iacov_model_lean_14hosp['excluir'].value_counts()

excluir
False    6046
Name: count, dtype: int64

In [5]:
df_iacov_model_lean_14hosp['male'].value_counts(normalize = True)

male
1.000   0.539
0.000   0.461
Name: proportion, dtype: float64

In [6]:
df_iacov_model_lean_14hosp['race'].value_counts(normalize = True)
#df_iacov_model_lean_14hosp['race'].value_counts()

race
N/a       0.558
Branco    0.289
Pardo     0.125
Preto     0.026
Amarelo   0.002
Name: proportion, dtype: float64

In [7]:
df_iacov_model_lean_14hosp['age'].mean()

57.52102381739993

In [8]:
df_iacov_model_lean_14hosp['age'].std()

17.869007644631505

In [9]:
df_iacov_model_lean_14hosp.loc[df_iacov_model_lean_14hosp['city_hospital'] == 'HC_USP',].isnull().sum()

city_hospital         0
age                   0
male                  0
race                  0
heart_rate            7
resp_rate            37
sys_press            11
dias_press           10
mean_press           11
temp                  7
hemoglobin         1287
platelets           110
hematocrit         1286
red_cells_count    1500
hcm                 108
rdw                 109
mcv                 108
leukocytes          108
neutrophil          110
lymphocytes         111
basophils           110
eosinophils        1500
monocytes           110
crp                 319
death                 0
icu                   0
mv                    0
state                 0
region                0
excluir               0
dtype: int64

In [10]:
# Cross table - hospital x icu
crosstab_hospital_icu = pd.crosstab(df_iacov_model_lean_14hosp['city_hospital'], df_iacov_model_lean_14hosp['icu'],margins=True)
crosstab_hospital_icu

icu                            0     1   All
city_hospital
AMAZONAS_HUGV                 13    34    47
CEARA_HUWC                    42    31    73
CEARA_UNIMED                 660   185   845
HC_USP                       452  1048  1500
HEVV                          32    24    56
HMV_POA_02                   319   137   456
HOSPPORTUGUES_SALVADOR      1114   245  1359
HOSPSANTACATARINABLUMENAU    127    21   148
HOSPSANTAJULIA_MANAUS        172    75   247
HOSPSAOFRANCISCO_MOGIGUACU    97    27   124
HRL_2021_02                   25   514   539
PELOTAS                       45    46    91
PERNAMBUCO_FULL               46    66   112
RIO_DE_JANEIRO_UNIMED        146   303   449
All                         3290  2756  6046

In [11]:
# Cross table - hospital x mv
crosstab_hospital_mv = pd.crosstab(df_iacov_model_lean_14hosp['city_hospital'], df_iacov_model_lean_14hosp['mv'], margins=True)
crosstab_hospital_mv

mv                             0     1   All
city_hospital
AMAZONAS_HUGV                 20    27    47
CEARA_HUWC                    41    32    73
CEARA_UNIMED                 716   129   845
HC_USP                       835   665  1500
HEVV                          43    13    56
HMV_POA_02                   371    85   456
HOSPPORTUGUES_SALVADOR      1240   119  1359
HOSPSANTACATARINABLUMENAU    137    11   148
HOSPSANTAJULIA_MANAUS        201    46   247
HOSPSAOFRANCISCO_MOGIGUACU   104    20   124
HRL_2021_02                  232   307   539
PELOTAS                       57    34    91
PERNAMBUCO_FULL               61    51   112
RIO_DE_JANEIRO_UNIMED        285   164   449
All                         4343  1703  6046

In [12]:
# Cross table - hospital x death
crosstab_hospital_death = pd.crosstab(df_iacov_model_lean_14hosp['city_hospital'], df_iacov_model_lean_14hosp['death'], margins=True)
crosstab_hospital_death

death                          0     1   All
city_hospital
AMAZONAS_HUGV                 31    16    47
CEARA_HUWC                    52    21    73
CEARA_UNIMED                 735   110   845
HC_USP                       963   537  1500
HEVV                          43    13    56
HMV_POA_02                   409    47   456
HOSPPORTUGUES_SALVADOR      1265    94  1359
HOSPSANTACATARINABLUMENAU    138    10   148
HOSPSANTAJULIA_MANAUS        209    38   247
HOSPSAOFRANCISCO_MOGIGUACU   107    17   124
HRL_2021_02                  211   328   539
PELOTAS                       57    34    91
PERNAMBUCO_FULL               71    41   112
RIO_DE_JANEIRO_UNIMED        343   106   449
All                         4634  1412  6046

In [14]:
numeric = ['age','heart_rate','resp_rate','sys_press','dias_press','mean_press','temp','hemoglobin','platelets','hematocrit','red_cells_count','hcm',
           'rdw','mcv','leukocytes','neutrophil','lymphocytes','basophils','eosinophils','monocytes','crp']

In [15]:
# Variável que indica as categorias
hospital = df_iacov_model_lean_14hosp['city_hospital'].unique()
hospital

array(['AMAZONAS_HUGV', 'CEARA_HUWC', 'CEARA_UNIMED', 'HEVV', 'HC_USP',
       'HOSPPORTUGUES_SALVADOR', 'HOSPSANTACATARINABLUMENAU',
       'HOSPSANTAJULIA_MANAUS', 'HOSPSAOFRANCISCO_MOGIGUACU', 'PELOTAS',
       'PERNAMBUCO_FULL', 'RIO_DE_JANEIRO_UNIMED', 'HRL_2021_02',
       'HMV_POA_02'], dtype=object)

In [16]:
pd.set_option('display.max_columns', None)  # Exibir todas as colunas
pd.set_option('display.width', 1000)

In [17]:
from scipy.stats import shapiro

for cat in hospital:
    cat_dd = df_iacov_model_lean_14hosp[df_iacov_model_lean_14hosp['city_hospital'] == cat].drop(columns=['city_hospital'])

    cat_desc = cat_dd[numeric].describe()

    cat_skew = cat_dd[numeric].skew()
    cat_desc.loc['skewness'] = cat_skew

    cat_kurt = cat_dd[numeric].kurt()
    cat_desc.loc['kurtosis'] = cat_kurt

    cat_cv = cat_dd[numeric].std()/cat_dd[numeric].mean()
    cat_desc.loc['cv'] = cat_cv

    cat_normality = cat_dd[numeric].apply(lambda x: shapiro(x)[1])
    cat_desc.loc['shapiro'] = cat_normality

    cat_missing = cat_dd[numeric].isnull().sum()/cat_dd.shape[0]
    cat_desc.loc['missing'] = cat_missing

    print("Categoria:", cat)
    display(cat_desc)

Categoria: AMAZONAS_HUGV

            age  heart_rate  resp_rate  sys_press  dias_press  mean_press   temp  hemoglobin  platelets  hematocrit  red_cells_count    hcm    rdw    mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    47.000      45.000     41.000     44.000      44.000      42.000 35.000      46.000     45.000      46.000           44.000 43.000 44.000 44.000      46.000      44.000       44.000     44.000       44.000     44.000  36.000
mean     57.149      91.222     24.463    133.318      77.932      94.713 36.466      10.763 257936.444      33.480            3.917 27.857 13.086 85.069   12467.826   10782.227      938.841     55.205       72.841    654.182 124.639
std      15.605      21.151      8.050     24.338      14.792      14.418  0.906       2.898 148993.424       7.750            0.872  2.010  2.181  5.498    6138.180    6054.574      644.627     42.397      137.864    367.239  90.968
min      22.000      57.000     12.000     79.000      56.000      59.354 33.600       3.200  28300.000      20.100            2.390 21.130 10.330 67.130     663.000    2645.000      142.000      0.000        0.000     73.000   0.100
25%      46.500      80.000     19.000    119.250      68.750      87.227 36.000       8.445 163700.000      26.425            3.335 27.000 11.420 82.468    8371.000    6143.750      530.750     27.250        2.000    405.750  25.325
50%      61.000      89.000     23.000    130.000      76.000      96.148 36.500      11.400 223900.000      34.905            4.045 28.200 12.265 85.425   11640.000    9897.500      759.000     48.500       12.000    638.500 127.000
75%      68.000     102.000     28.000    150.250      80.250     102.921 36.850      12.992 331600.000      39.260            4.543 29.145 14.275 87.893   15357.500   13433.250     1214.250     69.250       73.500    865.500 201.250
max      83.000     172.000     57.000    180.000     120.000     139.980 38.300      16.450 724000.000      49.390            5.750 31.300 20.560 95.420   31220.000   29215.000     3327.000    253.000      750.000   1699.000 272.200
skewness -0.711       1.369      1.963     -0.063       1.248       0.361 -0.477      -0.165      1.119       0.027           -0.081 -1.158  1.324 -0.775       0.856       1.083        2.067      2.529        3.311      0.804  -0.043
kurtosis -0.450       3.695      6.261     -0.443       1.983       1.546  2.414      -0.387      1.516      -0.963           -0.748  2.081  1.904  2.037       1.134       1.160        5.514     10.144       13.379      0.809  -1.623
cv        0.273       0.232      0.329      0.183       0.190       0.152  0.025       0.269      0.578       0.231            0.223  0.072  0.167  0.065       0.492       0.562        0.687      0.768        1.893      0.561   0.730
shapiro   0.005       1.000      1.000      1.000       1.000       1.000  1.000       1.000      1.000       1.000            1.000  1.000  1.000  1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing   0.000       0.043      0.128      0.064       0.064       0.106  0.255       0.021      0.043       0.021            0.064  0.085  0.064  0.064       0.021       0.064        0.064      0.064        0.064      0.064   0.234

Categoria: CEARA_HUWC

            age  heart_rate  resp_rate  sys_press  dias_press  mean_press   temp  hemoglobin  platelets  hematocrit  red_cells_count    hcm    rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes    crp
count    73.000      73.000     73.000     73.000      73.000      73.000 73.000      72.000     72.000      72.000           72.000 72.000 72.000  72.000      72.000      72.000       72.000     72.000       72.000     71.000 70.000
mean     56.151      86.000     19.603    120.397      72.438      88.425 36.040       9.994 188963.472      30.391            3.523 28.535 14.758  86.658   11913.292    7142.403     1237.111     31.972      140.458    478.803  7.154
std      16.138      18.879      3.996     25.159      16.330      18.385  0.930       2.646 145655.013       7.705            0.890  3.032  2.832   7.587   25247.809    7073.948      827.328     38.087      243.909    319.119  5.543
min      22.000      41.000     12.000     70.000      40.000      50.000 34.500       5.000   7160.000      16.600            1.990 20.500 10.100  64.600    1023.000     649.000      117.000      0.000        0.000     37.000  0.050
25%      42.000      75.000     17.000    101.000      60.000      77.000 35.400       7.800  95980.000      23.725            2.750 26.800 12.700  82.100    4094.750    2696.750      570.250      0.000        0.000    261.000  2.393
50%      58.000      87.000     19.000    117.000      71.000      87.000 36.000       9.800 157050.000      30.250            3.610 28.800 13.900  86.450    7892.500    5487.500      990.000     22.000       39.000    453.000  5.575
75%      69.000      94.000     20.000    135.000      81.000      98.000 36.500      11.825 239275.000      36.350            4.238 30.325 17.025  90.950   12020.000    9792.000     1759.000     52.250      132.500    552.500 11.940
max      86.000     140.000     33.000    189.000     120.000     142.000 39.000      18.100 826600.000      54.800            6.270 35.600 24.000 103.600  214500.000   47636.000     4290.000    181.000     1005.000   1960.000 17.970
skewness -0.415       0.681      0.994      0.557       0.457       0.527  0.542       0.454      1.879       0.461            0.323 -0.353  0.902  -0.298       7.520       3.112        1.053      1.448        2.199      1.890  0.499
kurtosis -0.638       1.063      1.239     -0.032       0.708       0.544  0.614      -0.034      5.024       0.122           -0.273  0.782  0.559   0.658      60.484      14.610        1.288      2.505        3.902      5.946 -1.072
cv        0.287       0.220      0.204      0.209       0.225       0.208  0.026       0.265      0.771       0.254            0.253  0.106  0.192   0.088       2.119       0.990        0.669      1.191        1.737      0.666  0.775
shapiro   0.022       0.010      0.000      0.099       0.131       0.241  0.063       1.000      1.000       1.000            1.000  1.000  1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000  1.000
missing   0.000       0.000      0.000      0.000       0.000       0.000  0.000       0.014      0.014       0.014            0.014  0.014  0.014   0.014       0.014       0.014        0.014      0.014        0.014      0.027  0.041

Categoria: CEARA_UNIMED

             age  heart_rate  resp_rate  sys_press  dias_press  mean_press    temp  hemoglobin  platelets  hematocrit  red_cells_count     hcm     rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    845.000     794.000    787.000    791.000     802.000     801.000 802.000     768.000    768.000     768.000          768.000 768.000 768.000 768.000     768.000     199.000      199.000    768.000      768.000    768.000 778.000
mean      62.599      81.084     18.717    120.932      72.742      88.235  36.287      12.773 449322.917      38.525            2.393  28.524  13.977  86.150    7750.286    3611.714      957.809      3.579       40.948    439.374  10.464
std       17.706      18.560      5.068     27.392      18.083      20.883   1.326       1.726  64176.276       4.780            0.988   1.944   1.403   5.568    8167.180    1961.759      570.125      8.975       79.270    240.224   8.377
min       18.000      25.000      8.000     21.000      12.000      18.332  30.600       6.200 233000.000      20.600            0.290  18.000  11.700  53.800      40.000      33.000       12.000      0.000        0.000      1.003   0.080
25%       48.000      70.000     16.000    110.000      65.000      82.323  36.000      11.700 406000.000      35.500            1.730  27.600  13.100  83.100    4472.500    2459.500      639.500      0.000        0.000    272.750   3.720
50%       65.000      80.000     18.000    120.000      77.500      91.312  36.200      12.800 451500.000      38.600            2.215  28.600  13.700  86.300    6910.000    3725.000      903.000      0.000        0.000    427.500   8.410
75%       76.000      89.750     20.000    135.500      80.000      99.980  36.500      14.100 494250.000      42.000            2.850  29.700  14.600  89.700    9727.500    4826.000     1259.500      0.000       61.000    608.000  15.270
max      100.000     176.000     72.000    214.000     141.000     152.316  63.000      17.300 649000.000      53.300            8.280  35.500  26.000 104.900  174640.000    9022.000     3688.000     80.000      914.000    995.000  44.920
skewness  -0.257       0.627      2.886     -0.607      -0.615      -0.856  10.316      -0.373     -0.139      -0.323            1.439  -0.980   2.366  -0.653      12.518       0.086        0.944      4.270        5.119      0.099   1.039
kurtosis  -0.816       2.090     17.942      1.562       1.282       1.417 206.856       0.294      0.273       0.269            4.081   4.260  11.610   2.995     237.669      -0.039        2.417     24.670       43.541     -0.529   0.863
cv         0.283       0.229      0.271      0.227       0.249       0.237   0.037       0.135      0.143       0.124            0.413   0.068   0.100   0.065       1.054       0.543        0.595      2.507        1.936      0.547   0.801
shapiro    0.000       1.000      1.000      1.000       1.000       1.000   1.000       1.000      1.000       1.000            1.000   1.000   1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing    0.000       0.060      0.069      0.064       0.051       0.052   0.051       0.091      0.091       0.091            0.091   0.091   0.091   0.091       0.091       0.764        0.764      0.091        0.091      0.091   0.079

Categoria: HEVV

            age  heart_rate  resp_rate  sys_press  dias_press  mean_press   temp  hemoglobin  platelets  hematocrit  red_cells_count    hcm    rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes    crp
count    56.000      52.000     43.000     46.000      46.000       4.000 27.000      56.000     56.000      56.000           56.000 56.000 56.000  56.000      56.000      56.000       56.000      0.000       56.000     56.000 56.000
mean     66.966      90.038     20.116    122.717      74.457      87.250 36.722      11.018    201.107      33.775            3.884 29.058 14.605  87.719      10.932       8.336        4.973        NaN        0.211     54.296 52.957
std      17.651      18.998      4.822     29.282      15.711      19.619  1.365       3.022    104.426       7.970            0.978  2.972  2.280   7.764       6.501       4.419        9.582        NaN        0.945    400.795 32.646
min      23.200      50.000     13.000     10.000      37.000      70.000 34.200       1.400      7.000      13.300            1.330 21.970 11.400  68.371       0.760       0.000        0.000        NaN        0.000      0.000  0.500
25%      55.500      79.500     18.000    107.750      63.500      76.000 35.650       8.750    135.500      28.500            3.348 26.523 13.100  83.467       7.627       5.300        0.843        NaN        0.000      0.245 22.025
50%      70.500      88.000     20.000    123.500      74.000      82.000 36.600      11.700    176.500      35.600            4.130 29.755 14.200  88.360      10.320       8.200        1.194        NaN        0.000      0.559 64.350
75%      79.350      99.250     21.500    140.000      81.500      93.250 37.900      12.925    252.000      39.500            4.527 30.958 15.150  93.051      13.300      10.892        2.543        NaN        0.085      0.825 81.650
max      97.000     144.000     40.000    180.000     120.000     115.000 39.500      15.700    549.000      47.800            5.690 34.970 23.100 104.900      42.000      21.035       49.000        NaN        7.000   3000.000 97.900
skewness -0.781       0.755      1.905     -1.045       0.443       1.363  0.291      -1.012      1.175      -0.778           -0.596 -0.181  2.024  -0.353       2.086       0.608        3.090        NaN        6.998      7.483 -0.281
kurtosis  0.040       1.120      6.087      4.081       1.107       1.998 -0.750       0.753      2.288       0.074           -0.113 -0.330  4.743   0.112       8.651       0.803       10.206        NaN       50.825     55.999 -1.554
cv        0.264       0.211      0.240      0.239       0.211       0.225  0.037       0.274      0.519       0.236            0.252  0.102  0.156   0.089       0.595       0.530        1.927        NaN        4.477      7.382  0.616
shapiro   0.010       1.000      1.000      1.000       1.000       1.000  1.000       0.001      0.001       0.009            0.094  0.310  0.000   0.689       0.000       0.146        0.000      1.000        0.000      0.000  0.000
missing   0.000       0.071      0.232      0.179       0.179       0.929  0.518       0.000      0.000       0.000            0.000  0.000  0.000   0.000       0.000       0.000        0.000      1.000        0.000      0.000  0.000

Categoria: HC_USP

              age  heart_rate  resp_rate  sys_press  dias_press  mean_press     temp  hemoglobin  platelets  hematocrit  red_cells_count      hcm      rdw      mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes      crp
count    1500.000    1493.000   1463.000   1489.000    1490.000    1489.000 1493.000     213.000   1390.000     214.000            0.000 1392.000 1391.000 1392.000    1392.000    1390.000     1389.000   1390.000        0.000   1390.000 1181.000
mean       59.305      87.086     24.476    119.400      71.702      87.549   36.366      12.340 234923.741      37.683              NaN   28.843   14.216   85.803    9782.917    7977.892      997.984      0.022          NaN      0.510    1.553
std        15.995      18.503      7.383     22.559      14.456      15.570    0.888       2.538 104514.476       8.062              NaN    2.380    2.168    6.311   10866.328    4711.526     1314.463      0.081          NaN      0.453    1.126
min        18.000      13.000     11.000     10.000       6.000       7.665   32.400       5.000   6000.000       1.000              NaN   16.900   11.100   56.900     290.000     240.000       30.000      0.000          NaN      0.000    0.015
25%        48.000      74.000     20.000    106.000      61.000      77.649   35.900      11.000 166000.000      33.000              NaN   27.600   12.900   82.400    6100.000    4682.500      560.000      0.010          NaN      0.270    0.655
50%        61.000      86.000     23.000    120.000      70.000      86.980   36.400      13.000 217000.000      39.000              NaN   29.000   13.700   85.800    8555.000    7060.000      840.000      0.010          NaN      0.420    1.268
75%        71.000      98.000     28.000    132.000      80.000      96.650   36.900      14.000 288750.000      43.000              NaN   30.300   14.700   89.400   11962.500   10220.000     1240.000      0.020          NaN      0.640    2.276
max        98.000     191.000    108.000    200.000     129.000     141.654   39.100      19.000 992000.000      58.000              NaN   46.900   28.200  128.200  365920.000   36170.000    42120.000      2.860          NaN     10.980    6.432
skewness   -0.295       0.320      3.055     -0.417      -0.184      -0.331   -0.111      -0.137      1.200      -0.551              NaN   -0.243    2.536    0.161      25.570       1.416       23.628     30.882          NaN     10.093    0.866
kurtosis   -0.550       1.189     23.987      3.080       2.503       2.775    0.916       0.016      3.496       1.517              NaN    3.924    9.449    3.458     830.924       3.279      708.368   1072.175          NaN    208.871    0.385
cv          0.270       0.212      0.302      0.189       0.202       0.178    0.024       0.206      0.445       0.214              NaN    0.083    0.153    0.074       1.111       0.591        1.317      3.638          NaN      0.889    0.725
shapiro     0.000       1.000      1.000      1.000       1.000       1.000    1.000       1.000      1.000       1.000            1.000    1.000    1.000    1.000       1.000       1.000        1.000      1.000        1.000      1.000    1.000
missing     0.000       0.005      0.025      0.007       0.007       0.007    0.005       0.858      0.073       0.857            1.000    0.072    0.073    0.072       0.072       0.073        0.074      0.073        1.000      0.073    0.213

Categoria: HOSPPORTUGUES_SALVADOR

              age  heart_rate  resp_rate  sys_press  dias_press  mean_press    temp  hemoglobin  platelets  hematocrit  red_cells_count     hcm     rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    1359.000    1087.000    570.000    574.000     574.000     574.000 821.000     928.000    928.000     928.000          928.000 928.000 928.000 928.000     928.000     928.000      928.000    928.000      928.000    928.000 737.000
mean       49.422      86.479     20.192    127.987      76.781      93.564  36.363      12.910 233440.733      39.600            4.511  29.063  13.606  88.501    7196.136    4951.301     1389.867     13.809       75.188    609.546  80.849
std        18.203      12.298      2.611     15.694       8.485       9.175   0.661       1.970  89291.782       5.088            0.650   2.178   1.811   6.240    5669.551    3270.254      793.390     18.541      128.945    375.459  96.900
min        18.000      46.000     14.000     89.000      46.000      64.500  34.200       6.500  57500.000      19.500            1.860  17.650  10.900  59.000    1370.000     301.000       93.000      0.000        0.000     49.000   5.000
25%        34.000      78.000     18.625    120.000      70.250      89.000  36.000      12.038 176000.000      36.875            4.147  27.800  12.600  84.775    4857.500    2806.750      827.375      0.000        0.000    384.000  17.150
50%        47.000      86.000     20.000    125.250      79.500      93.000  36.300      13.100 219000.000      40.100            4.575  29.250  13.200  88.700    6320.000    4020.000     1259.000     10.000       31.000    558.000  40.300
75%        62.500      97.000     20.000    139.000      80.000      98.000  36.700      14.300 275125.000      43.100            4.950  30.400  14.100  92.125    8262.500    6286.125     1748.000     18.000       87.000    757.750  89.200
max        99.000     130.500     35.000    209.500     106.000     136.500  39.450      18.100 788000.000      52.400            6.455  38.150  30.000 112.800  143370.000   26730.000     7362.500    222.000     1346.500   7243.000 708.300
skewness    0.405       0.186      1.789      0.789      -0.334       0.204   0.531      -0.759      1.360      -0.658           -0.572  -0.584   3.110  -0.341      15.518       2.207        1.720      3.789        3.743      6.552   1.918
kurtosis   -0.725       0.176      3.993      1.417       1.260       1.503   1.271       0.609      3.748       0.761            0.838   2.880  16.057   1.936     360.140       8.102        6.889     25.492       20.058    105.054   4.215
cv          0.368       0.142      0.129      0.123       0.111       0.098   0.018       0.153      0.383       0.128            0.144   0.075   0.133   0.071       0.788       0.660        0.571      1.343        1.715      0.616   1.199
shapiro     0.000       1.000      1.000      1.000       1.000       1.000   1.000       1.000      1.000       1.000            1.000   1.000   1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing     0.000       0.200      0.581      0.578       0.578       0.578   0.396       0.317      0.317       0.317            0.317   0.317   0.317   0.317       0.317       0.317        0.317      0.317        0.317      0.317   0.458

Categoria: HOSPSANTACATARINABLUMENAU

             age  heart_rate  resp_rate  sys_press  dias_press  mean_press    temp  hemoglobin  platelets  hematocrit  red_cells_count     hcm     rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    148.000     142.000    145.000    147.000     147.000     147.000 146.000     148.000    148.000     148.000          148.000 148.000 148.000 148.000     148.000     148.000      148.000    148.000      148.000    147.000 106.000
mean      49.622      87.056     19.048    126.109      78.116      94.116  36.762      13.549 207166.892      40.914            4.725  29.132  13.553  87.671    5524.978    3793.953     1300.002     36.293       61.674    546.472  39.955
std       17.794      14.191      2.222     20.948      12.388      14.156   0.826       1.519  63811.029       5.325            0.966   1.958   1.671   5.798    2794.234    2131.793      665.029     38.281      103.626    289.830  52.512
min       18.000      51.000     16.000     18.000      37.000      30.000  34.500       6.400  45700.000      20.800            3.080  17.800   3.000  56.300       2.500       3.869      233.000      0.000        0.000     57.000   0.200
25%       38.000      78.000     18.000    114.000      70.000      86.000  36.300      12.875 163750.000      38.475            4.348  28.475  12.900  85.200    3900.000    2269.125      840.975     15.150        9.100    342.850   4.880
50%       47.500      87.000     18.000    124.000      77.000      93.000  36.600      13.700 202000.000      41.500            4.650  29.250  13.400  88.350    5250.000    3275.000     1182.500     26.750       33.900    489.600  18.015
75%       62.000      96.000     20.000    137.000      85.500     102.000  37.100      14.500 241500.000      44.100            4.980  30.100  14.000  91.100    6877.500    4956.750     1663.900     42.925       64.500    699.400  45.250
max       95.000     130.000     30.000    196.000     112.000     137.000  39.800      16.700 428000.000      71.900           14.500  33.900  26.000 100.900   15500.000   11733.000     4351.000    259.200      691.000   1688.400 201.300
skewness   0.339       0.339      2.081     -0.085       0.014      -0.161   0.524      -1.074      0.872       0.412            7.107  -2.648   1.454  -2.694       0.418       1.178        1.208      2.839        4.113      1.249   1.709
kurtosis  -0.656       0.593      7.489      5.371       0.780       2.600   0.776       2.932      1.888       9.015           71.577  13.802  30.985  12.613       0.968       1.624        2.794     11.001       20.046      2.189   1.919
cv         0.359       0.163      0.117      0.166       0.159       0.150   0.022       0.112      0.308       0.130            0.204   0.067   0.123   0.066       0.506       0.562        0.512      1.055        1.680      0.530   1.314
shapiro    0.006       1.000      1.000      1.000       1.000       1.000   1.000       0.000      0.000       0.000            0.000   0.000   0.000   0.000       0.002       0.000        0.000      0.000        0.000      1.000   1.000
missing    0.000       0.041      0.020      0.007       0.007       0.007   0.014       0.000      0.000       0.000            0.000   0.000   0.000   0.000       0.000       0.000        0.000      0.000        0.000      0.007   0.284

Categoria: HOSPSANTAJULIA_MANAUS

             age  heart_rate  resp_rate  sys_press  dias_press  mean_press    temp  hemoglobin  platelets  hematocrit  red_cells_count     hcm     rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    247.000     207.000    189.000    208.000     208.000     190.000 190.000     196.000    191.000     196.000          194.000 196.000 196.000 196.000     191.000     196.000      196.000      9.000      186.000    182.000 166.000
mean      56.628      82.208     21.011    123.529      76.548      79.266  36.271      12.166 285958.115      36.953            4.300  27.683  13.640  86.223    4843.382    7726.531     1459.184      0.444        1.570    652.747   8.988
std       17.069      15.320      3.638     14.274      10.964      32.431   0.632       1.773 113679.088       4.805            0.602   3.941   1.448   5.691    4678.693    1003.231      879.141      0.527        1.180    229.504   9.279
min       18.000      36.000     14.000     72.000      10.000       1.033  34.000       4.920  59000.000      23.700            2.620  10.600  11.700  63.720      68.000    4100.000      100.000      0.000        1.000    200.000   0.500
25%       43.000      72.500     19.000    118.750      70.000      80.000  36.000      10.975 207500.000      33.575            3.905  27.345  12.800  82.748     796.000    7200.000      800.000      0.000        1.000    500.000   1.900
50%       56.000      80.000     20.000    120.000      80.000      90.000  36.100      12.400 264000.000      37.350            4.365  28.360  13.200  86.155    3960.000    7900.000     1200.000      0.000        1.000    600.000   5.900
75%       69.000      90.000     22.000    130.000      80.000      96.925  36.600      13.400 336500.000      40.400            4.738  29.503  14.000  88.845    7670.000    8400.000     1900.000      1.000        2.000    800.000  14.950
max       95.000     144.000     42.000    190.000     114.000     137.000  39.000      15.800 594000.000      49.400            5.580  39.690  24.300 119.470   20230.000    9400.000     5000.000      1.000       12.000   1500.000  45.000
skewness   0.106       0.638      2.292      1.005      -0.834      -1.515   0.433      -0.633      0.756      -0.225           -0.460  -2.534   3.104   0.868       1.120      -1.054        1.349      0.271        4.780      0.710   1.401
kurtosis  -0.710       1.481      8.755      3.532       6.367       0.985   3.105       0.868      0.146      -0.180           -0.041   8.313  16.207   6.423       0.740       1.311        2.350     -2.571       34.795      0.590   1.471
cv         0.301       0.186      0.173      0.116       0.143       0.409   0.017       0.146      0.398       0.130            0.140   0.142   0.106   0.066       0.966       0.130        0.602      1.186        0.752      0.352   1.032
shapiro    0.008       1.000      1.000      1.000       1.000       1.000   1.000       1.000      1.000       1.000            1.000   1.000   1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing    0.000       0.162      0.235      0.158       0.158       0.231   0.231       0.206      0.227       0.206            0.215   0.206   0.206   0.206       0.227       0.206        0.206      0.964        0.247      0.263   0.328

Categoria: HOSPSAOFRANCISCO_MOGIGUACU

             age  heart_rate  resp_rate  sys_press  dias_press  mean_press    temp  hemoglobin  platelets  hematocrit  red_cells_count     hcm     rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    124.000     124.000    124.000    124.000     124.000      16.000 124.000     120.000    121.000       0.000          120.000 104.000 104.000 104.000     119.000       0.000      117.000     51.000       53.000    119.000 120.000
mean      53.306      83.621     20.121    130.250      81.887      92.438  36.573      13.048 233661.157         NaN            4.512  30.946  15.000  83.501     152.015         NaN      211.828     17.745      114.679    428.738  64.457
std       15.528      12.407      2.987     15.644      10.894      12.479   0.740       2.686  83439.954         NaN            1.097   7.968   9.911  15.579    1210.643         NaN      335.631     18.136      165.559    287.281  73.352
min       26.000      51.000     13.000     97.000      54.000      65.000  34.900       1.500  80000.000         NaN            2.100  13.300  11.300   8.150       2.520         NaN        1.000      0.000        0.000      1.010   0.400
25%       41.000      77.000     18.000    120.000      80.000      87.250  36.100      12.075 170000.000         NaN            4.022  29.200  12.900  83.600       6.155         NaN        1.352     10.000       20.000    196.000   7.800
50%       50.500      82.000     19.500    130.000      80.000      93.500  36.400      13.550 224000.000         NaN            4.565  30.300  13.350  87.300       8.270         NaN        2.050     10.000       80.000    400.000  37.250
75%       64.000      91.000     21.000    140.000      90.000      99.500  37.000      14.700 286000.000         NaN            4.900  31.500  14.000  90.575      10.705         NaN      506.000     20.000      130.000    669.000  99.150
max       89.000     120.000     36.000    188.000     120.000     117.000  39.200      17.800 484000.000         NaN           13.900  88.100  86.100  98.500   12460.000         NaN     1380.000    110.000      905.000   1358.000 310.800
skewness   0.522       0.352      2.957      0.700       0.020      -0.537   0.867      -1.775      0.637         NaN            5.063   5.781   6.946  -3.141       9.460         NaN        1.293      3.679        3.041      0.366   1.453
kurtosis  -0.381       0.969     12.346      1.473       0.685       1.112   1.231       4.722     -0.046         NaN           44.964  39.133  47.935  10.358      93.688         NaN        0.442     15.370       10.665     -0.479   1.605
cv         0.291       0.148      0.148      0.120       0.133       0.135   0.020       0.206      0.357         NaN            0.243   0.257   0.661   0.187       7.964         NaN        1.584      1.022        1.444      0.670   1.138
shapiro    0.002       0.027      0.000      0.000       0.000       1.000   0.000       1.000      1.000       1.000            1.000   1.000   1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing    0.000       0.000      0.000      0.000       0.000       0.871   0.000       0.032      0.024       1.000            0.032   0.161   0.161   0.161       0.040       1.000        0.056      0.589        0.573      0.040   0.032

Categoria: PELOTAS

            age  heart_rate  resp_rate  sys_press  dias_press  mean_press   temp  hemoglobin  platelets  hematocrit  red_cells_count    hcm    rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    91.000      89.000     86.000     86.000      86.000       3.000 82.000      90.000     90.000      90.000            0.000 90.000 89.000  90.000      89.000       0.000       88.000     90.000        0.000     89.000  88.000
mean     60.659      83.719     21.849    128.151      76.140     105.667 36.522      12.189 218055.556      36.577              NaN 29.139 13.689  87.720    1728.921         NaN     1411.364      0.022          NaN    448.315 128.680
std      16.055      17.075      4.697     21.211      14.817      10.214  1.248       2.479  99171.439       7.081              NaN  2.301  2.127   6.070    4656.026         NaN     1486.292      0.148          NaN    228.191  98.943
min      20.000      52.000     12.000     85.000      44.000      94.000 33.600       6.600  15000.000      19.300              NaN 22.100 11.000  73.800     172.000         NaN      100.000      0.000          NaN    100.000   1.300
25%      52.000      71.000     18.000    112.000      66.500     102.000 35.700      10.200 145750.000      31.425              NaN 28.100 12.400  84.775     684.000         NaN      600.000      0.000          NaN    300.000  45.975
50%      65.000      82.000     21.000    124.000      76.500     110.000 36.300      12.600 196500.000      37.700              NaN 29.350 13.200  86.550     930.000         NaN     1050.000      0.000          NaN    400.000 109.250
75%      71.500      94.000     24.000    140.000      80.750     111.500 37.500      13.800 282750.000      40.375              NaN 30.300 14.000  90.900    1372.000         NaN     1725.000      0.000          NaN    600.000 189.300
max      89.000     156.000     38.000    200.000     120.000     113.000 39.200      17.500 504000.000      57.400              NaN 35.500 23.900 110.600   40704.000         NaN     9400.000      1.000          NaN   1100.000 377.900
skewness -0.430       0.895      1.046      0.739       0.516      -1.565  0.200      -0.398      0.672      -0.051              NaN -0.431  2.247   0.677       7.475         NaN        3.605      6.593          NaN      0.568   0.720
kurtosis -0.318       2.398      1.791      1.028       0.261         NaN -0.256      -0.462      0.311       0.545              NaN  1.972  6.577   1.702      59.300         NaN       16.833     42.408          NaN     -0.023  -0.439
cv        0.265       0.204      0.215      0.166       0.195       0.097  0.034       0.203      0.455       0.194              NaN  0.079  0.155   0.069       2.693         NaN        1.053      6.670          NaN      0.509   0.769
shapiro   0.061       1.000      1.000      1.000       1.000       1.000  1.000       1.000      1.000       1.000            1.000  1.000  1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing   0.000       0.022      0.055      0.055       0.055       0.967  0.099       0.011      0.011       0.011            1.000  0.011  0.022   0.011       0.022       1.000        0.033      0.011        1.000      0.022   0.033

Categoria: PERNAMBUCO_FULL

             age  heart_rate  resp_rate  sys_press  dias_press  mean_press   temp  hemoglobin  platelets  hematocrit  red_cells_count    hcm    rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    112.000     112.000    103.000    111.000     111.000       0.000 80.000     112.000    101.000     109.000          101.000 70.000 73.000  74.000     106.000      53.000       46.000     60.000       60.000     56.000  63.000
mean      56.991      90.893     22.738    126.550      78.117         NaN 37.330      11.108 250437.505      34.748            3.851 29.625 14.171  89.381   10483.123    5785.094     1140.915     19.050      190.085    577.771  19.981
std       17.359      15.166      5.336     21.009      15.622         NaN  0.982       2.582 118927.823       7.331            0.631  2.908  2.212   9.466    8190.874    3931.886     1076.505     37.993      634.709    395.951  35.548
min       19.000      60.000     14.000     82.000      45.000         NaN 35.200       3.500    188.000      10.600            2.510 21.000 11.200  63.300      73.000       0.900        1.000      0.000        0.000      0.300   0.600
25%       44.750      80.000     18.000    114.000      66.000         NaN 36.500       9.425 181000.000      30.500            3.470 28.100 12.700  85.600    6285.000    2960.000      662.500      0.000        7.500    261.500   6.600
50%       58.000      90.000     22.000    120.000      80.000         NaN 37.200      11.200 246000.000      35.500            3.700 29.800 13.200  89.550    9170.000    5343.000      810.000      2.000       60.000    567.000  12.000
75%       69.250     100.250     27.000    140.000      90.000         NaN 38.200      13.025 296000.000      39.000            4.200 31.600 15.000  94.000   13550.000    8200.000     1100.500     12.250      126.000    812.500  20.450
max       95.000     125.000     39.000    180.000     120.000         NaN 39.200      15.900 686000.000      48.000            5.720 37.800 22.300 118.700   77580.000   14540.000     5800.000    139.000     4450.000   1580.000 261.000
skewness   0.115       0.174      0.751      0.364       0.219         NaN  0.069      -0.509      0.995      -0.713            0.572 -0.882  1.308  -0.314       5.308       0.510        2.954      2.219        5.919      0.370   5.525
kurtosis  -0.544      -0.715      0.101      0.007      -0.277         NaN -1.048       0.185      2.008       0.856            0.256  2.343  1.500   2.151      42.621      -0.435       10.177      3.693       37.142     -0.494  35.270
cv         0.305       0.167      0.235      0.166       0.200         NaN  0.026       0.232      0.475       0.211            0.164  0.098  0.156   0.106       0.781       0.680        0.944      1.994        3.339      0.685   1.779
shapiro    0.438       0.159      1.000      1.000       1.000       1.000  1.000       0.021      1.000       1.000            1.000  1.000  1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing    0.000       0.000      0.080      0.009       0.009       1.000  0.286       0.000      0.098       0.027            0.098  0.375  0.348   0.339       0.054       0.527        0.589      0.464        0.464      0.500   0.438

Categoria: RIO_DE_JANEIRO_UNIMED

             age  heart_rate  resp_rate  sys_press  dias_press  mean_press    temp  hemoglobin  platelets  hematocrit  red_cells_count     hcm     rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    449.000     433.000    407.000    429.000     429.000     429.000 421.000     420.000    420.000      97.000          420.000 420.000 420.000 420.000     420.000     420.000      390.000    390.000      390.000    390.000 417.000
mean      66.165      83.748     20.263    130.753      77.159      95.531  36.337      12.742 209400.000      30.931            4.256  30.019  12.781  91.614    7633.095    5497.595     1245.797      0.009        0.082    438.205  14.410
std       17.043      15.184      4.616     20.556      13.039      13.925   1.173       2.031  90804.792       7.616            0.677   2.132   1.753   5.503    4715.660    3794.408      716.446      0.016        0.122    272.843  11.918
min       22.000      49.000      5.000     54.000      31.000      37.000  21.400       5.000  16000.000      15.100            1.680  20.900   9.600  67.700     600.000      30.000      284.000      0.000        0.000     30.000   0.500
25%       55.000      73.000     18.000    118.000      69.000      87.000  36.000      11.700 149000.000      25.600            3.908  28.875  11.400  88.400    4700.000    3077.500      795.250      0.000        0.000    260.000   5.000
50%       68.000      82.000     20.000    130.000      77.000      95.000  36.400      12.900 198000.000      30.300            4.305  30.250  12.400  91.650    6400.000    4415.000     1052.500      0.000        0.060    380.000  12.900
75%       80.000      92.000     21.000    142.000      86.000     104.000  36.700      14.100 258500.000      37.200            4.652  31.200  13.825  94.700    8725.000    6705.000     1513.250      0.010        0.110    570.000  20.500
max       97.000     168.000     63.000    195.000     127.000     144.000  38.800      18.100 823000.000      51.300            6.030  36.200  19.900 108.200   36100.000   25120.000     6318.000      0.180        1.580   2520.000  66.900
skewness  -0.476       1.082      3.253      0.157       0.109       0.026  -7.330      -0.593      1.398       0.206           -0.581  -0.551   0.863  -0.041       2.273       1.917        2.398      5.008        6.300      2.228   1.113
kurtosis  -0.486       3.525     22.430      0.615       0.995       1.084  86.101       0.957      5.503      -0.511            1.217   1.412   0.734   1.262       7.192       4.743        9.861     42.870       65.036     10.611   1.263
cv         0.258       0.181      0.228      0.157       0.169       0.146   0.032       0.159      0.434       0.246            0.159   0.071   0.137   0.060       0.618       0.690        0.575      1.713        1.480      0.623   0.827
shapiro    0.000       1.000      1.000      1.000       1.000       1.000   1.000       1.000      1.000       1.000            1.000   1.000   1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing    0.000       0.036      0.094      0.045       0.045       0.045   0.062       0.065      0.065       0.784            0.065   0.065   0.065   0.065       0.065       0.065        0.131      0.131        0.131      0.131   0.071

Categoria: HRL_2021_02

             age  heart_rate  resp_rate  sys_press  dias_press  mean_press    temp  hemoglobin  platelets  hematocrit  red_cells_count     hcm     rdw     mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    539.000     532.000    504.000    534.000     533.000     532.000 526.000     517.000    516.000     516.000          511.000 515.000 512.000 516.000     514.000      11.000      513.000    521.000      519.000    510.000 425.000
mean      57.985      88.267     24.387    128.204      76.820      93.257  36.853      13.169    241.072      40.231            4.392  30.041  13.649  91.633      11.000    2241.511      157.518      3.191        5.013    210.100 138.229
std       15.781      21.060      8.155     24.791      15.809      17.208  14.795       2.392     95.068       7.704            0.722   4.435   1.934  12.251       8.607    4074.253      398.443     18.620       28.498    411.057 108.432
min       19.000      20.000      8.000     13.800      10.000      30.000  16.500       3.300     12.000       4.200            0.930  10.000   9.700   9.070       1.400       0.000        0.000      0.000        0.000      0.000   0.400
25%       46.000      75.000     19.000    113.250      68.000      83.000  35.800      11.900    176.750      36.075            4.015  27.990  12.700  85.975       6.900       3.960        4.700      0.000        0.000      4.000  57.000
50%       57.000      87.000     22.000    128.000      78.000      94.000  36.200      13.400    231.500      41.000            4.470  30.160  13.600  91.800       9.800      77.000       12.500      0.000        0.000      9.850 108.200
75%       68.000      99.000     29.000    140.750      85.000     103.000  36.700      14.700    290.000      44.825            4.830  32.270  14.400  97.268      12.895    2105.750       25.100      0.000        0.000    275.000 193.300
max       99.000     233.000     95.000    242.000     131.000     166.000 372.000      30.600    660.000      77.000            7.510  86.400  33.000 201.400     134.000   10120.000     4698.000    240.000      372.000   4600.000 641.600
skewness   0.136       0.911      1.850      0.231      -0.277       0.203  22.241       0.029      0.824      -0.275           -0.586   3.279   3.818   1.511       8.325       1.614        5.209      9.008        8.222      4.536   1.195
kurtosis  -0.534       4.336     10.636      2.306       2.028       1.781 504.422       6.220      1.465       4.164            2.187  52.312  35.393  31.356     103.493       1.051       42.919     96.464       80.189     33.990   1.646
cv         0.272       0.239      0.334      0.193       0.206       0.185   0.401       0.182      0.394       0.191            0.164   0.148   0.142   0.134       0.782       1.818        2.530      5.835        5.684      1.956   0.784
shapiro    0.002       1.000      1.000      1.000       1.000       1.000   1.000       1.000      1.000       1.000            1.000   1.000   1.000   1.000       1.000       1.000        1.000      1.000        1.000      1.000   1.000
missing    0.000       0.013      0.065      0.009       0.011       0.013   0.024       0.041      0.043       0.043            0.052   0.045   0.050   0.043       0.046       0.980        0.048      0.033        0.037      0.054   0.212

Categoria: HMV_POA_02

             age  heart_rate  resp_rate  sys_press  dias_press  mean_press   temp  hemoglobin  platelets  hematocrit  red_cells_count    hcm    rdw    mcv  leukocytes  neutrophil  lymphocytes  basophils  eosinophils  monocytes     crp
count    456.000      54.000     54.000     54.000      54.000     380.000 53.000     456.000    456.000     456.000            0.000 53.000 53.000 53.000     456.000     455.000      456.000    455.000      455.000    455.000 420.000
mean      60.114      86.778     19.944    131.185      74.278      13.286 36.170      13.398 196635.789      39.262              NaN 30.498 13.674 88.423    7471.897    5045.565     1191.513     16.637       35.187    607.622   6.658
std       17.929      20.344      3.708     20.042      11.931      33.088  5.137       1.934  83172.262       5.059              NaN  1.533  1.008  4.104   13590.283    3300.365      811.233     18.331       67.657    364.060   7.069
min       19.000      50.000      0.000    100.000      49.000       0.000  0.000       6.700    120.000      20.500              NaN 24.000 12.300 73.900       4.860     320.000        0.000      0.000        0.000     20.000   0.030
25%       45.750      73.750     19.000    116.250      64.250       0.000 36.100      12.200 143000.000      36.300              NaN 29.800 12.800 86.400    4477.500    2740.000      777.500     10.000        0.000    360.000   1.538
50%       60.000      84.500     20.000    125.500      74.000       0.000 36.800      13.600 182500.000      39.800              NaN 30.600 13.500 88.800    5955.000    4120.000     1035.000     10.000       10.000    550.000   3.885
75%       74.000      96.000     20.000    139.750      83.000       0.000 37.400      14.700 231000.000      42.700              NaN 31.300 14.300 91.400    8162.500    6305.000     1410.000     20.000       40.000    750.000   9.598
max      105.000     186.000     30.000    193.000     101.000     127.000 39.300      18.100 769000.000      52.300              NaN 33.700 17.500 97.800  287000.000   26120.000     8140.000    160.000      770.000   3320.000  36.510
skewness  -0.031       2.278     -2.301      0.913       0.221       2.166 -6.960      -0.569      1.809      -0.548              NaN -1.308  1.087 -0.597      19.229       1.953        3.765      3.952        4.695      1.966   1.655
kurtosis  -0.813       9.727     16.451      0.664      -0.646       2.930 49.885       0.377      7.042       0.607              NaN  5.511  2.509  1.929     395.577       5.780       21.716     21.611       35.603      8.426   2.668
cv         0.298       0.234      0.186      0.153       0.161       2.491  0.142       0.144      0.423       0.129              NaN  0.050  0.074  0.046       1.819       0.654        0.681      1.102        1.923      0.599   1.062
shapiro    0.000       1.000      1.000      1.000       1.000       1.000  1.000       0.000      0.000       0.000            1.000  1.000  1.000  1.000       0.000       1.000        0.000      1.000        1.000      1.000   1.000
missing    0.000       0.882      0.882      0.882       0.882       0.167  0.884       0.000      0.000       0.000            1.000  0.884  0.884  0.884       0.000       0.002        0.000      0.002        0.002      0.002   0.079

In [ ]:
#!pip install openpyxl

## Chamando os metadados para comparar entre Local Training vs Outra estratégia

In [18]:
metadados = pd.read_csv("metadados_csv.csv", delimiter=";")

In [19]:
metadados.shape

(14, 24)

In [20]:
metadados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ORDEM                14 non-null     int64
 1   Hospital_name        14 non-null     object
 2   Hospital             14 non-null     object
 3   Region_paper         14 non-null     int64
 4   n                    14 non-null     int64
 5   Best_for_all         14 non-null     int64
 6   prop_ICU             14 non-null     float64
 7   shannon_ICU          14 non-null     float64
 8   prop_MV              14 non-null     float64
 9   shannon_MV           14 non-null     float64
 10  prop_death           14 non-null     float64
 11  shannon_death        14 non-null     float64
 12  skewness_mean        14 non-null     float64
 13  std_skewness         14 non-null     float64
 14  kurtosis_mean        14 non-null     float64
 15  std_kurtosis         14 non-null     float64
 16  cv_mean              14 non-null     float64
 17  prop_missing         14 non-null     float64
 18  Best_strategy_ICU    14 non-null     int64
 19  Best_ICU             14 non-null     int64
 20  Best_strategy_MV     14 non-null     int64
 21  Best_MV              14 non-null     int64
 22  Best_strategy_Death  14 non-null     int64
 23  Best_Death           14 non-null     int64
dtypes: float64(12), int64(10), object(2)
memory usage: 2.8+ KB

In [21]:
to_metadata_analisys_ICU = ['n', 'prop_missing', 'prop_ICU', 'shannon_ICU', 'cv_mean', 'skewness_mean', 'std_skewness', 'kurtosis_mean', 'std_kurtosis']
to_metadata_analisys_MV = ['n', 'prop_missing', 'prop_MV', 'shannon_MV', 'cv_mean', 'skewness_mean', 'std_skewness', 'kurtosis_mean', 'std_kurtosis']
to_metadata_analisys_death = ['n', 'prop_missing', 'prop_death', 'shannon_death', 'cv_mean', 'skewness_mean', 'std_skewness', 'kurtosis_mean', 'std_kurtosis']

### Best for ICU - Local Training vs Other

In [22]:
median_by_strategy_ICU = metadados.groupby('Best_ICU')[to_metadata_analisys_ICU].median().transpose()
IQR_by_strategy_ICU = (metadados.groupby('Best_ICU')[to_metadata_analisys_ICU].quantile(0.75) - metadados.groupby('Best_ICU')[to_metadata_analisys_ICU].quantile(0.25)).transpose()

In [23]:
median_by_strategy_ICU_formatted = median_by_strategy_ICU.applymap(lambda x: "{:.2f}".format(x))
print(median_by_strategy_ICU_formatted)

Best_ICU           0       1
n              73.00  449.00
prop_missing    0.08    0.22
prop_ICU        0.51    0.30
shannon_ICU     0.68    0.61
cv_mean         0.55    0.57
skewness_mean   1.16    1.67
std_skewness    1.70    3.10
kurtosis_mean   4.67   15.04
std_kurtosis   13.24   24.69

In [24]:
IQR_by_strategy_ICU_formatted = IQR_by_strategy_ICU.applymap(lambda x: "{:.2f}".format(x))
print(IQR_by_strategy_ICU_formatted)

Best_ICU           0       1
n              22.00  556.00
prop_missing    0.10    0.13
prop_ICU        0.15    0.41
shannon_ICU     0.05    0.12
cv_mean         0.18    0.33
skewness_mean   0.29    0.92
std_skewness    0.60    2.00
kurtosis_mean   2.72   19.73
std_kurtosis    6.63   67.29

In [25]:
# Separando os arrays a serem comparados pelo teste de Mann-Withney
metadados_localtraining_ICU, metadados_other_ICU = metadados[metadados["Best_ICU"] == 1], metadados[metadados["Best_ICU"] == 0]

In [27]:
metadados_localtraining_ICU.shape

(11, 24)

In [28]:
metadados_other_ICU.shape

(3, 24)

In [29]:
# Wilcoxon para duas amostras independentes – ManWhitney
from scipy.stats import mannwhitneyu

stat_n_ICU, p_n_ICU                         = mannwhitneyu(metadados_localtraining_ICU['n'], metadados_other_ICU['n'])

stat_prop_missing_ICU, p_prop_missing_ICU   = mannwhitneyu(metadados_localtraining_ICU['prop_missing'], metadados_other_ICU['prop_missing'])

stat_prop_ICU, p_prop_ICU                   = mannwhitneyu(metadados_localtraining_ICU['prop_ICU'], metadados_other_ICU['prop_ICU'])

stat_shannon_ICU, p_shannon_ICU             = mannwhitneyu(metadados_localtraining_ICU['shannon_ICU'], metadados_other_ICU['shannon_ICU'])

stat_cv_mean_ICU, p_cv_mean_ICU             = mannwhitneyu(metadados_localtraining_ICU['cv_mean'], metadados_other_ICU['cv_mean'])

stat_skewness_mean_ICU, p_skewness_mean_ICU = mannwhitneyu(metadados_localtraining_ICU['skewness_mean'], metadados_other_ICU['skewness_mean'])

stat_std_skewness_ICU, p_std_skewness_ICU   = mannwhitneyu(metadados_localtraining_ICU['std_skewness'], metadados_other_ICU['std_skewness'])

stat_kurtosis_mean_ICU, p_kurtosis_mean_ICU = mannwhitneyu(metadados_localtraining_ICU['kurtosis_mean'], metadados_other_ICU['kurtosis_mean'])

stat_std_kurtosis_ICU, p_std_kurtosis_ICU   = mannwhitneyu(metadados_localtraining_ICU['std_kurtosis'], metadados_other_ICU['std_kurtosis'])

In [30]:
print(np.round(p_n_ICU,3))

print(np.round(p_prop_missing_ICU,3))

print(np.round(p_prop_ICU,3))

print(np.round(p_shannon_ICU,3))

print(np.round(p_cv_mean_ICU,3))

print(np.round(p_skewness_mean_ICU,3))

print(np.round(p_std_skewness_ICU,3))

print(np.round(p_kurtosis_mean_ICU,3))

print(np.round(p_std_kurtosis_ICU,3))

0.022
0.126
0.368
0.17
0.885
0.368
0.06
0.06
0.088

### Best for MV - Local Training vs Other

In [31]:
median_by_strategy_MV = metadados.groupby('Best_MV')[to_metadata_analisys_MV].median().transpose()
IQR_by_strategy_MV = (metadados.groupby('Best_MV')[to_metadata_analisys_MV].quantile(0.75) - metadados.groupby('Best_MV')[to_metadata_analisys_MV].quantile(0.25)).transpose()

In [32]:
median_by_strategy_MV_formatted = median_by_strategy_MV.applymap(lambda x: "{:.2f}".format(x))
print(median_by_strategy_MV_formatted)

Best_MV            0       1
n              82.00  348.00
prop_missing    0.08    0.22
prop_MV         0.50    0.19
shannon_MV      0.68    0.48
cv_mean         0.66    0.54
skewness_mean   1.22    1.46
std_skewness    2.03    2.86
kurtosis_mean   6.26   13.86
std_kurtosis   15.11   24.04

In [33]:
IQR_by_strategy_MV_formatted = IQR_by_strategy_MV.applymap(lambda x: "{:.2f}".format(x))
print(IQR_by_strategy_MV_formatted)

Best_MV             0       1
n              136.50  617.75
prop_missing     0.06    0.12
prop_MV          0.15    0.18
shannon_MV       0.01    0.20
cv_mean          0.34    0.21
skewness_mean    0.77    0.91
std_skewness     1.52    1.46
kurtosis_mean   13.91   19.04
std_kurtosis    29.24   60.15

In [34]:
# Separando os arrays a serem comparados pelo teste de Mann-Withney
metadados_localtraining_MV, metadados_other_MV = metadados[metadados["Best_MV"] == 1], metadados[metadados["Best_MV"] == 0]

In [35]:
metadados_localtraining_MV.shape

(10, 24)

In [36]:
metadados_other_MV.shape

(4, 24)

In [37]:
# Wilcoxon para duas amostras independentes – ManWhitney
from scipy.stats import mannwhitneyu

stat_n_MV, p_n_MV                         = mannwhitneyu(metadados_localtraining_MV['n'], metadados_other_MV['n'])

stat_prop_missing_MV, p_prop_missing_MV   = mannwhitneyu(metadados_localtraining_MV['prop_missing'], metadados_other_MV['prop_missing'])

stat_prop_MV, p_prop_MV                   = mannwhitneyu(metadados_localtraining_MV['prop_MV'], metadados_other_MV['prop_MV'])

stat_shannon_MV, p_shannon_MV             = mannwhitneyu(metadados_localtraining_MV['shannon_MV'], metadados_other_MV['shannon_MV'])

stat_cv_mean_MV, p_cv_mean_MV             = mannwhitneyu(metadados_localtraining_MV['cv_mean'], metadados_other_MV['cv_mean'])

stat_skewness_mean_MV, p_skewness_mean_MV = mannwhitneyu(metadados_localtraining_MV['skewness_mean'], metadados_other_MV['skewness_mean'])

stat_std_skewness_MV, p_std_skewness_MV   = mannwhitneyu(metadados_localtraining_MV['std_skewness'], metadados_other_MV['std_skewness'])

stat_kurtosis_mean_MV, p_kurtosis_mean_MV = mannwhitneyu(metadados_localtraining_MV['kurtosis_mean'], metadados_other_MV['kurtosis_mean'])

stat_std_kurtosis_MV, p_std_kurtosis_MV   = mannwhitneyu(metadados_localtraining_MV['std_kurtosis'], metadados_other_MV['std_kurtosis'])

In [39]:
print(np.round(p_n_MV,3))

print(np.round(p_prop_missing_MV,3))

print(np.round(p_prop_MV,3))

print(np.round(p_shannon_MV,3))

print(np.round(p_cv_mean_MV,3))

print(np.round(p_skewness_mean_MV,3))

print(np.round(p_std_skewness_MV,3))

print(np.round(p_kurtosis_mean_MV,3))

print(np.round(p_std_kurtosis_MV,3))

0.142
0.054
0.024
0.106
0.539
0.945
0.374
0.374
0.454

### Best for Death - Local Training vs Other

In [40]:
median_by_strategy_death = metadados.groupby('Best_Death')[to_metadata_analisys_death].median().transpose()
IQR_by_strategy_death = (metadados.groupby('Best_Death')[to_metadata_analisys_death].quantile(0.75) - metadados.groupby('Best_Death')[to_metadata_analisys_death].quantile(0.25)).transpose()

In [41]:
median_by_strategy_death_formatted = median_by_strategy_death.applymap(lambda x: "{:.2f}".format(x))
print(median_by_strategy_death_formatted)

Best_Death         0       1
n              91.00  449.00
prop_missing    0.09    0.22
prop_death      0.34    0.14
shannon_death   0.64    0.40
cv_mean         0.55    0.57
skewness_mean   1.16    1.67
std_skewness    1.70    3.10
kurtosis_mean   4.67   15.04
std_kurtosis   13.24   24.69

In [42]:
IQR_by_strategy_death_formatted = IQR_by_strategy_death.applymap(lambda x: "{:.2f}".format(x))
print(IQR_by_strategy_death_formatted)

Best_Death          0       1
n              174.00  721.00
prop_missing     0.14    0.13
prop_death       0.09    0.13
shannon_death    0.06    0.21
cv_mean          0.37    0.21
skewness_mean    0.59    0.77
std_skewness     0.77    1.25
kurtosis_mean    3.39   17.40
std_kurtosis     8.84   63.48

In [43]:
# Separando os arrays a serem comparados pelo teste de Mann-Withney
metadados_localtraining_death, metadados_other_death = metadados[metadados["Best_Death"] == 1], metadados[metadados["Best_Death"] == 0]

In [44]:
metadados_localtraining_death.shape

(9, 24)

In [45]:
metadados_other_death.shape

(5, 24)

In [46]:
# Wilcoxon para duas amostras independentes – ManWhitney
from scipy.stats import mannwhitneyu

stat_n_death, p_n_death                         = mannwhitneyu(metadados_localtraining_death['n'], metadados_other_death['n'])

stat_prop_missing_death, p_prop_missing_death   = mannwhitneyu(metadados_localtraining_death['prop_missing'], metadados_other_death['prop_missing'])

stat_prop_death, p_prop_death                   = mannwhitneyu(metadados_localtraining_death['prop_death'], metadados_other_death['prop_death'])

stat_shannon_death, p_shannon_death             = mannwhitneyu(metadados_localtraining_death['shannon_death'], metadados_other_death['shannon_death'])

stat_cv_mean_death, p_cv_mean_death             = mannwhitneyu(metadados_localtraining_death['cv_mean'], metadados_other_death['cv_mean'])

stat_skewness_mean_death, p_skewness_mean_death = mannwhitneyu(metadados_localtraining_death['skewness_mean'], metadados_other_death['skewness_mean'])

stat_std_skewness_death, p_std_skewness_death   = mannwhitneyu(metadados_localtraining_death['std_skewness'], metadados_other_death['std_skewness'])

stat_kurtosis_mean_death, p_kurtosis_mean_death = mannwhitneyu(metadados_localtraining_death['kurtosis_mean'], metadados_other_death['kurtosis_mean'])

stat_std_kurtosis_death, p_std_kurtosis_death   = mannwhitneyu(metadados_localtraining_death['std_kurtosis'], metadados_other_death['std_kurtosis'])

In [47]:
print(np.round(p_n_death,3))

print(np.round(p_prop_missing_death,3))

print(np.round(p_prop_death,3))

print(np.round(p_shannon_death,3))

print(np.round(p_cv_mean_death,3))

print(np.round(p_skewness_mean_death,3))

print(np.round(p_std_skewness_death,3))

print(np.round(p_kurtosis_mean_death,3))

print(np.round(p_std_kurtosis_death,3))

0.19
0.19
0.06
0.06
0.898
0.364
0.112
0.112
0.147